################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Opps_Training_Day01/obj/Debug
/Opps_Training_Day01/bin/Debug
/.vs/VSWorkspaceState.json
/.vs/Opps_Training_Playground_Day01/v16/.suo
/.vs/Opps_Training_Day01/v16/.suo
